In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Crop_recommendation.csv")

In [3]:
df.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [4]:

cols=df.columns

In [5]:
cols

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [6]:
x=df.iloc[: , 0:7]
y=df['label']

In [7]:
from sklearn.model_selection import train_test_split
# i.e. 70 % training dataset and 30 % test datasets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30)

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
# creating a RF classifier
clf = RandomForestClassifier(n_estimators = 100)

# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(x_train, y_train)

# performing predictions on the test dataset
y_pred = clf.predict(x_test)

# metrics are used to find accuracy or error
from sklearn import metrics
print()

# using metrics module for accuracy calculation
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.996969696969697

In [10]:

op=clf.predict_proba([[90,42,43,20.879744,82.002744,6.502985,202.935536]])

C:\Users\DELL\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [11]:
ans=pd.DataFrame(clf.predict_proba([[90,42,43,20.879744,82.002744,6.502985,202.935536]]), columns=clf.classes_)

C:\Users\DELL\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [12]:
ans

,apple,banana,blackgram,chickpea,coconut,coffee,cotton,grapes,jute,kidneybeans,...,mango,mothbeans,mungbean,muskmelon,orange,papaya,pigeonpeas,pomegranate,rice,watermelon
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.02,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.98,0.0

In [13]:
len(y.unique())

22

In [14]:
# using the feature importance variable
import pandas as pd
feature_imp = pd.Series(clf.feature_importances_, index=x.columns ).sort_values(ascending = False)
feature_imp

rainfall       0.217545
humidity       0.215849
K              0.174650
P              0.147300
N              0.116942
temperature    0.074062
ph             0.053652
dtype: float64

In [15]:
_=clf.predict([[99,15,27,27.417112,56.636362,6.086922,127.924610]])

C:\Users\DELL\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [16]:
_[0]

'coffee'

In [17]:
import pickle

# Assuming 'model' is your trained machine learning model object
with open('recommendation_model.pkl', 'wb') as file:
    pickle.dump(clf, file)

In [19]:
checks= []
for col in x:
#     print(col)
    mn,mx=x[col].min(), x[col].max()
    checks.append( [col,mn,mx] )
checks

[['N', 0, 140],
 ['P', 5, 145],
 ['K', 5, 205],
 ['temperature', 8.825674745, 43.67549305],
 ['humidity', 14.25803981, 99.98187601],
 ['ph', 3.504752314, 9.93509073],
 ['rainfall', 20.21126747, 298.5601175]]