In [1]:
import pandas as pd

In [2]:

df=pd.read_csv('./rice dataset overall india.csv')
df.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha)
0,92,2013,11,Tamil Nadu,Thirunelveli,74.01,418.44,5653.83
1,94,2011,11,Tamil Nadu,Kanyakumari,16.62,90.11,5421.78
2,18,2017,6,Madhya Pradesh,Rewa,121.30,625.90,5159.93
3,86,2014,11,Tamil Nadu,Salem,67.32,345.33,5129.68
4,92,2014,11,Tamil Nadu,Thirunelveli,101.10,517.33,5117.01

In [3]:

states =df['State Name'].unique()
states_len=len(states)

In [4]:
states_len

20

In [5]:
states

array(['Tamil Nadu', 'Madhya Pradesh', 'Punjab', 'Andhra Pradesh',
       'Jharkhand', 'Rajasthan', 'Telangana', 'Haryana', 'Karnataka',
       'Bihar', 'Orissa', 'West Bengal', 'Uttarakhand', 'Maharashtra',
       'Gujarat', 'Uttar Pradesh', 'Kerala', 'Himachal Pradesh',
       'Chhattisgarh', 'Assam'], dtype=object)

In [6]:
new_df= df.drop(['Dist Name','State Name'],axis=1)

In [7]:
new_df

,Dist Code,Year,State Code,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha)
0,92,2013,11,74.01,418.44,5653.83
1,94,2011,11,16.62,90.11,5421.78
2,18,2017,6,121.30,625.90,5159.93
3,86,2014,11,67.32,345.33,5129.68
4,92,2014,11,101.10,517.33,5117.01
...,...,...,...,...,...,...
3101,632,2013,18,0.00,0.00,0.00
3102,632,2014,18,0.00,0.00,0.00
3103,632,2015,18,0.00,0.00,0.00
3104,632,2016,18,0.00,0.00,0.00
3105,632,2017,18,0.00,0.00,0.00

In [8]:
X= new_df.iloc[: , 0:3 ]
Y=new_df.iloc[ : ,5:6]
Y

      RICE YIELD (Kg per ha)
0                    5653.83
1                    5421.78
2                    5159.93
3                    5129.68
4                    5117.01
...                      ...
3101                    0.00
3102                    0.00
3103                    0.00
3104                    0.00
3105                    0.00

[3106 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [10]:
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor()
regressor.fit(X_train, y_train)

C:\Users\DELL\AppData\Local\Temp/ipykernel_25464/1342620265.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(X_train, y_train)

RandomForestRegressor()

In [11]:
y_pred = regressor.predict(X_test)

In [12]:
y_pred

array([4278.8507, 3479.9221,  473.6889, ..., 3622.2395, 4471.2499,
       1863.4857])

In [13]:
y_test

      RICE YIELD (Kg per ha)
152                  3949.44
299                  3475.97
2663                  670.00
1712                 2000.00
314                  3427.84
...                      ...
2816                    0.00
440                  3138.39
508                  3033.49
76                   4304.78
589                  2900.71

[1025 rows x 1 columns]

In [14]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [15]:
regressor.predict([[86,2014,11]])

C:\Users\DELL\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([5003.7991])

In [16]:
import math
math.sqrt(mean_squared_error(y_test,y_pred))

416.7458243250202

In [17]:
r2_score(y_test,y_pred)

0.8674597334221701

In [18]:
df.loc[df['Dist Name'] == 'Ratnagiri'].sort_values('Year', ascending=True)

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha)
805,98,2008,7,Maharashtra,Ratnagiri,156.00,417.10,2673.72
878,98,2009,7,Maharashtra,Ratnagiri,155.90,407.55,2614.18
722,98,2010,7,Maharashtra,Ratnagiri,156.00,430.11,2757.12
668,98,2011,7,Maharashtra,Ratnagiri,155.50,437.44,2813.12
640,98,2012,7,Maharashtra,Ratnagiri,150.70,428.18,2841.27
509,98,2013,7,Maharashtra,Ratnagiri,148.90,451.60,3032.91
434,98,2014,7,Maharashtra,Ratnagiri,142.50,448.30,3145.96
801,98,2015,7,Maharashtra,Ratnagiri,138.20,370.20,2678.73
413,98,2016,7,Maharashtra,Ratnagiri,139.34,445.30,3195.78
466,98,2017,7,Maharashtra,Ratnagiri,139.25,430.70,3093.02

In [19]:
regressor.predict([[98,2018,7]])

C:\Users\DELL\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([3048.7487])

In [20]:


# conclusion
'''

1. random forest regressor perfroms better than svm
2. factors considered year,dist,state for rice yield (kg/ha) pred  
3. data set consist of years (2008-2019) so somwhat it is like forecatsing
4. r^2 score = 0.8 which is considered as good.
5. but it is just simple ,we would like to add more features and scaling might help more. 
6. also the major tasks will be to merge oother factors like temp,rainfal,... into these dataset
7. also we have to think whether we shoud create differnt model for differnt crops or same for all crops.
8. Also we can make recommendtaionm model which can suggest what will be better choice of crop at current scenario.
9. if we get the crop market valueof certain year then we can add more value to prediction

'''

'\n\n1. random forest regressor perfroms better than svm\n2. factors considered year,dist,state for rice yield (kg/ha) pred  \n3. data set consist of years (2008-2019) so somwhat it is like forecatsing\n4. r^2 score = 0.8 which is considered as good.\n5. but it is just simple ,we would like to add more features and scaling might help more. \n6. also the major tasks will be to merge oother factors like temp,rainfal,... into these dataset\n7. also we have to think whether we shoud create differnt model for differnt crops or same for all crops.\n8. Also we can make recommendtaionm model which can suggest what will be better choice of crop at current scenario.\n9. if we get the crop market valueof certain year then we can add more value to prediction\n\n'

In [21]:
fil=df[ ['State Name','State Code','Dist Name','Dist Code' ]].drop_duplicates().sort_values(['State Name', 'Dist Name' ], ascending=True)

In [22]:
grouped = fil.groupby('State Name')
result = []
for state, group in grouped:
    state_dict = {'State Name': state, 'State Code': group.iloc[0]['State Code'], 'Districts': group[['Dist Name', 'Dist Code']].to_dict('records')}
    result.append(state_dict)

# convert the list of dictionaries to a JSON string
json_str = pd.io.json.dumps(result)

# print(json_str)

In [23]:

# print(json_str)

In [24]:
import json



# parse the JSON string to a Python object
data = json.loads(json_str)

# write the Python object to a JSON file
with open('data.json', 'w') as f:
    json.dump(data, f)

In [25]:
import pickle

# Assuming 'model' is your trained machine learning model object
with open('model.pkl', 'wb') as file:
    pickle.dump(regressor, file)